body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}
.canvas{
    background-color: #eaeaea;
    padding: 24px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.context{
    margin: 24px;
}
.box{
    width: 340px; 
    /*background-color: #ffffff;*/
}
.info{
    text-align: left;
}
.form-element{
    margin-bottom: 16px;
}
.title h2{
    font-size: 32px;
    font-weight: 600;
}
.hidden{
    display: none;
}
input#username{
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
input#password{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
input#email{
    margin-top: 4px;
    width: 96%;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}
.login-input input{
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #d1d1d1;
}
.login-input input::placeholder{
    color: #afafaf;
    padding-left: 8px;
}
.passwordChange-input input#password{
    margin-top: 4px;
    width: 96%;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
}
.remember{
    float: left;
}
a.forgot{
    text-decoration: none;
    float: right;
    color: #0099CB;
}
button.submit{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
    font-size: 18px;
    margin-top: 16px;
}
button.submit:hover{
    background-color: #0099CB;
}
button.submit svg{
    color: #00A6DC;
    height:18px;
    width: 18px;
    float:left;
}

nav{
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #1f2937;
}
nav ul{
    list-style: none;
    height: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-column-start:3;  
    padding: 8px;
}
nav ul a{
    text-decoration:none;
    color:white
}
.dropbtn svg{
    width: 20px;
    height: 20px;
}
.dropbtn i{
    background-color: white;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
#userProfilePicture img{
    border-radius: 100%;
}
.userinfo{
    width: 300px;
    background-color:#fafafa;
    padding: 24px;
    margin: -24px;
}
.alert-succes{
    border: 2px solid #2b975a;
    background-color: #b5eacc;
    border-radius: 4px;
    color: #2b975a;
}

.promptDetails{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.promptDetails .title{
   font-size: 1.3em;
}

.promptDetails .img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}

.promptDetails .img img{
    min-width: 100px;
    min-height: 100px;
    width: 50%;
    position: relative;

}

.promptDetails input{
    width: 50%;
    height: 50%;
    justify-self: center;
    align-self: end;
}
